<ion-header>
  <ion-toolbar>
    <ion-title>Location</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <ion-card>
    <ion-card-content> -->
      <ion-grid>
        <ion-row>
          <ion-col (click)="goto('Beltola')">
            <div class="container-fluid" text-center>
              <img src="https://in.bmscdn.com/m6/images/common-modules/regions/mumbai.png" width="50" height="50"> 
              <p>Beltola</p>       
            </div>
          </ion-col>
          <ion-col (click)="goto('Ganeshguri')">
            <div class="container-fluid" text-center>
              <img src="https://in.bmscdn.com/m6/images/common-modules/regions/pune.png" width="50" height="50"> 
              <p>Ganeshguri</p>             
            </div>
          </ion-col>
          <ion-col (click)="goto('Zoo')">
            <div class="container-fluid" text-center>
              <img src="https://in.bmscdn.com/m6/images/common-modules/regions/bang.png" width="50" height="50">   
              <p>Zoo</p>            
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col (click)="goto('Chandmari')">
            <div class="container-fluid" text-center>
              <img src="https://in.bmscdn.com/m6/images/common-modules/regions/mumbai.png" width="50" height="50"> 
              <p>Chandmari</p>              
            </div>
          </ion-col>
          <ion-col (click)="goto('Paltan Bazar')">
            <div class="container-fluid" text-center>
              <img src="https://in.bmscdn.com/m6/images/common-modules/regions/pune.png" width="50" height="50">   
              <p>Paltan Bazar</p>            
            </div>
          </ion-col>
          <ion-col (click)="goto('Khanapara')">
            <div class="container-fluid" text-center>
              <img src="https://in.bmscdn.com/m6/images/common-modules/regions/bang.png" width="50" height="50">   
              <p>Khanapara</p>            
            </div>
          </ion-col>
        </ion-row>
    </ion-grid>
    <!-- </ion-card-content>
  </ion-card> -->
</ion-content>
