<ion-content>
  <div class="container">
    <!-- code here -->
    <div class="card">
      <div class="card-image">	
        <h2 class="card-heading">
          Get started
        </h2>
      </div>
      <form class="card-form">
        <div class="input">
          <input type="text" class="input-field" value="Rahul" required/>
          <label class="input-label">Patient name</label>
        </div>
        <div class="input">
          <input type="text" class="input-field" value="1234567890" required/>
          <label class="input-label">Phone</label>
        </div>

        <div class="input">
          <input type="text" class="input-field" value="vlockn@gmail.com" required/>
          <label class="input-label">Address</label>
        </div>

        <div class="input">
          <input type="text" class="input-field" value="A+" required/>
          <label class="input-label">Blood Group</label>
        </div>

        <div class="input">
          <input type="text" class="input-field" value="500" required/>
          <label class="input-label">Amount</label>
        </div>

        <div class="input">
          <input type="text" class="input-field" value="100OFF" required/>
          <label class="input-label">Coupon</label>
        </div>

        <div class="input">
          <input type="text" class="input-field" value="400" required/>
          <label class="input-label">Total Amount</label>
        </div>
        

        <!-- <div class="input">
          <input type="password" class="input-field" required/>
          <label class="input-label">Password</label>
        </div> -->

        <div class="action">
          <button class="action-button">BOOK</button>
        </div>
      </form>
      <div class="card-info">
        <p> <a href="#">Terms and Conditions</a></p>
      </div>
    </div>
  </div>
   
</ion-content>
<ion-footer class="flat">
  <footer-tabs>
  </footer-tabs>
</ion-footer>